!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %style(type="text/css")
      div#wrapper { position: absolute; top: 0; left: 0;  margin: 0 auto; width: 100%;} |
      div#allslide { display: none; position: absolute; top: 0; left: 0; background-color: rgba(0,0,0,0.7); width: 100%; z-index: 10; }
      p.boxes { display: none; position absolute; z-index: 1;} |
      p#box1 { display: block; } |
      .prev { position: absolute; left: -20px; top: 0; border: 0; width: 100px; height: 1000px; opacity: 0; background: -moz-linear-gradient(left, rgba(0,0,0,1), rgba(255,255,255,0)); background: -webkit-gradient(linear, left, right, from(rgba(0,0,0,0.5)), to(rgba(255,255,255,0)));} |
      .next { position: absolute; right: 0; top: 0; border: 0; width: 100px; height: 1000px; opacity: 0; background: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(0,0,0,0.5)); background: -webkit-gradient(linear, left, right, from(rgba(255,255,255,0)), to(rgba(0,0,0,0.5)));} |
      #controller{ width: 50%; color: black; text-align: center; position: fixed; top: 93%; left: 25%; background: rgba(255,255,255,0.5); z-index: 100; } |
    %link(href="/css/bootstrap.min.css" rel="stylesheet")
    %title= "#{@title}"
  %body
    #wrapper(align="center")
      - @images.each_with_index do |image, index|
        %p.boxes{:id => (index == 0 ? 'box1' : nil)}
          %img(src="#{image}")
    #controller
      %button.btn.btn-inverse(style="background: rgba(0,0,0,0.5)" onClick="goFirst()")
        %font(size="2em" color="white" weight="150%")
          %i.glyphicon.glyphicon-fast-backward |
      %button.btn.btn-inverse(style="background-color: rgba(0,0,0,0.5)" onClick="goPrev()")
        %font(size="2em" color="white")
          %i.glyphicon.glyphicon-backward |
      %button#pageNumber.btn(onClick="fadeInAllSlide()")
      %button.btn.btn-inverse(style="background-color: rgba(0,0,0,0.5)" onClick="goNext()")
        %font(size="2em" color="white")
          %i.glyphicon.glyphicon-forward |
      %button.btn.btn-inverse(style="background-color: rgba(0,0,0,0.5)" onClick="goLast()")
        %font(size="2em" color="white")
          %i.glyphicon.glyphicon-fast-forward |
    %input.prev(type="button" value=" ")
    %input.next(type="button" value=" ")
    .row#allslide
      - @images.each_with_index do |image, index|
        .col-xs-6.col-md-3
          %button(onClick="selectPage(#{index})")
            %img(src="#{image}" width="240px")
    %script(src="http://code.jquery.com/jquery.min.js")
    %script(type="text/javascript")
      var wrapper = $("div#wrapper"); |
      var resize = function(page) { |
        var scale = Math.min($(window).width() / page.width(), $(window).height() / page.height()); |
        page.width(page.width() * scale); |
      }; |
      function setPageNumber(current) { |
        var allNumber = wrapper.find("p").size(); |
        $("#pageNumber").text((current + 1) + '/' + allNumber); |
      }; |
      $(document).ready( function() { |
        setPageNumber(0); |
        resize(wrapper.find("p:visible").children("img")); |
      }); |
      function fadeInAllSlide() { |
        $('div#allslide').fadeToggle(); |
      } |
      function selectPage(index){ |
        goPage(index); |
        fadeOutAllSlide() ; |
      } |
      function go(page) { |
        var now = wrapper.find("p:visible"); |
        if($('div#wrapper p').index(page) != $('div#wrapper p').index(now)) { |
          now.fadeOut("fast", function() { |
            page.fadeIn("fast"); |
            resize(page.children("img")); |
          }); |
          setPageNumber($('div#wrapper p').index(page)); |
        } |
      }; |
      $("input:button.prev").click(function() { |
        var prev = wrapper.find("p:visible").prev(); |
        if(prev.length != 0){ |
          go(prev); |
        } |
      }); |
      $("input:button.next").click(function() { |
        var next = wrapper.find("p:visible").next(); |
        if(next.length != 0){ |
          go(next); |
        } |
      }); |
      $("input.next,input.prev").hover( function() { |
        $(this).css('width', $(window).width() / 5); |
        $(this).css('height', $(window).height()); |
        $(this).css('opacity', '1'); |
      }, function(){ |
        $(this).css('opacity', '0'); |
      }); |
      function goFirst(){ |
        var first = wrapper.find('p:first'); |
        go(first); |
      } |
      function goPrev(){ |
        var prev = wrapper.find('p:visible').prev(); |
        if(prev.length != 0) { |
          go(prev); |
        } |
      } |
      function goNext(){ |
        var next = wrapper.find('p:visible').next(); |
        if(next.length != 0) { |
          go(next); |
        } |
      } |
      function goLast(){ |
        var last = wrapper.find('p:last'); |
        go(last); |
      } |
      function goPage(index){ |
        var page = wrapper.find('p:eq(' + index + ')'); |
        go(page); |
      } |
        
