.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  .container
    .navbar-header
      %a.navbar-brand(href="/")
        PPTGallery
    %ul.nav.navbar-right
      %li
        %button.btn.btn-inverse(onClick="introJs().start()" style="background-color:#222")
          %font(size="5em" color="white")
            %i.glyphicon.glyphicon-question-sign
.container
  .starter-template
    %form(action='/upload' method='post' enctype='multipart/form-data')
      %input(id='myfile' type='file' name='myfile' style='display:none')
      .input-group
        %input.form-control(id='selectFile' type='text' placeholder='choose .ppt/.pptx file')
        %span.input-group-btn(data-intro="CHOOSE upload file")
          %button.btn(onclick="$('input[id=myfile]').click();" type='button')
            Browse
        %input.btn.btn-primary(id='upload' type='submit' value='Upload' data-loading-text="Uploading..." data-intro="UPLOAD choosen file.")
  %hr
  - if @pagenum != 1
    %ul.pagination.pagination-sm
      - for page in 1..@pagenum do
        %li{:class => (@current == page ? 'active' : nil)}
          %a{:href => (@current == page ? '#' : "/gallery/#{page}")}
            = page
  .row
    - @resourceDirs.each_with_index do |d,index|
      .col-xs-12.col-md-4
        .gallery
          = Date.strptime(d.split('/')[-1].split('_')[0],'%Y%m%d%H%M%S')
          %a.slidelink(href=""){:"data-intro" => (index == 0 ? 'COPY iframe tag to clipboard.' : nil)}
            %input.zclip(type="hidden" value="#{d}#{d.split('/')[-1].split('_')[1..-2].join('_')}.html")
              %i.glyphicon.glyphicon-share
          %a.downloads_popover(href="" title="Downloads" data-html="true" data-placement="bottom" data-content=""){:"data-intro" => (index == 0 ? 'DOWNLOAD uploaded and converted files' : nil)}
            %i.glyphicon.glyphicon-download 
          %form.delete_form(method='post' action="/delete" style="display: inline;"){:"data-intro" => (index == 0 ? 'DELETE uploaded and converted files' : nil)}
            %input(type="hidden" name="_method" value="delete")
            %input(type="hidden" name="target" value="#{d}")
            %a.delete(href="#")
              %font(color="red")
                %i.glyphicon.glyphicon-remove-sign 
          %br
          %a(href="#{d}#{d.split('/')[-1].split('_')[1..-2].join('_')}.html" target="blank")
            %img.img-thumbnail(src="#{d}png/page001.png" width="360px" height="240px")
          .popover_content(style='display: none;')
            %a.btn.btn-xs.btn-primary(href="#{d}#{d.split('/')[-1].split('_')[1..-2].join('_')}.#{d.split('_')[-1].chop!}")
              PPT
            %a.btn.btn-xs.btn-primary(href="#{d}#{d.split('/')[-1].split('_')[1..-2].join('_')}.pdf")= "PDF"
            %a.btn.btn-xs.btn-primary(href="#{d}#{d.split('/')[-1].split('_')[1..-2].join('_')}.html" target="blank")
              HTML
  - if @pagenum != 1
    %ul.pagination.pagination-sm
      - for page in 1..@pagenum do
        %li{:class => (@current == page ? 'active' : nil)}
          %a{:href => (@current == page ? '#' : "/gallery/#{page}")}
            = page
