!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    = partial 'slide_css.haml'

    %link(href="/css/bootstrap.min.css" rel="stylesheet")
    %title= "#{title}"
  %body
    #wrapper(align="center")
      - images.each_with_index do |image, index|
        %p.boxes{:id => (index == 0 ? 'box1' : nil)}
          %img(src="#{image}")

    = partial 'slide_controller.haml'

    .row#allslide
      - images_low.each_with_index do |image, index|
        .col-xs-6.col-md-3.one-of-all-slide
          %input(type="image" src="#{image}" width="240px" onClick="selectPage(#{index})")
    %script(src="http://code.jquery.com/jquery.min.js")

    = partial 'slide_js.haml'
